<nav class="navbar navbar-expand-lg bg-body-tertiary border border-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="isUser?'/articles':'/'">
      <img src="/assets/logo_p6.png" alt="Bootstrap" width="100">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a *ngIf="isUser" class="nav-link" [routerLink]="'/articles'">Article</a>
        <a *ngIf="isUser" class="nav-link" [routerLink]="'/themes'">Theme</a>
        <a *ngIf="isUser" class="nav-link" [routerLink]="'/me'">
          <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/user--v1.png" alt="user--v1"/>
        </a>
      </div>

    </div>
  </div>
</nav>
